.post-edit {
  margin-top: 10vh;
  display: flex;
  flex-direction: column 2.9vw 2.9vw;
  column-gap: 2.9vw;
  margin-bottom: 10vh;
}

.edit-form {
  display: flex;
  flex-direction: column;

  margin-right: 5vw;
}

.image-container {
  text-align: left;
  margin-left: 5vw;
}

.edit-post-image {
  
}