.post-edit {
  margin-top: 10vh;
  display: flex;
  flex-direction: column 2.9vw 2.9vw;
  column-gap: 2.9vw;
  margin-bottom: 10vh;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.image-container {
  margin-left: 10vw;
  width: 600px;
}

.img {
  max-width: 100%;
  display: block;
}

.edit-input-image-link {
  width: 33vw;
  height: 3vh;
  background-color: #fbe048;
  font-family: 'Roboto', sans-serif;
}

.input-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  height: 10vh;
  border: 2px solid black;
  border-radius: 17px;
}

.save-button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 2vh;
  border-radius: 17px;
  width: 15vw;
  display: flex;
  justify-content: center;
  margin-left: 13vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  background-color: #fbe048;
  border: 2px solid black;
  font-family: 'Amatic SC', cursive;
  font-size: 5vh;
}

.textarea-content{
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border: 2px solid black;

}
